/* File: App.css */

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #00263b; /* Dark blue background for the header */
  color: white;
}

/* DaySet Title Styling */
.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(135deg, #005f73, #9b2226); /* Gradient from blueish to orange */
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

/* Section styling */
section {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin: 15px 0;
  color: #333;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

/* Input, select, and textarea styling */
input[type="text"], select, textarea {
  width: 80%; /* Default width for larger screens */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus, select:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styling */
button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

/* Error message styling */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Response message styling */
.response-message {
  color: green;
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .app-title {
      font-size: 1.5rem;
  }

  input[type="text"], select, textarea {
      width: 95%; /* Full width for smaller screens */
  }

  h2 {
      font-size: 1.75rem;
  }

  form {
      max-width: 100%;
      padding: 15px;
  }
}
